@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

:root {
  --brand-yellow: #efe60b;
  --brand-blue: #1cd4e9;
  --dark-gray: #171515;
}

body {
  font-family: "Montserrat", sans-serif;
}
