@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

/* variables */
:root {
  /* colors */
  --brand-yellow: #efe60b;
  --brand-blue: #1cd4e9;
  --dark-gray: #171515;
  /* others */
  --desktop-maxwidth: 1100px;
}

/* reset */
* {
  box-sizing: border-box;
}

body, p, a, ul, li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* base styles */
body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

p {
  line-height: 1.5;
}

/* Call to Action buttons */
.cta-primary {
  display: inline-block;
  padding: 1em 2em;
  border-radius: 50px;
  
  font-size: 0.9em;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  background-color: var(--brand-blue);
}

.cta-primary:hover {
  filter: brightness(0.95);
}

/* inputs and textareas */
input, textarea {
  padding: 0.7em;

  font-size: 1em;
  font-family: inherit;
}

input::placeholder, textarea::placeholder {
  opacity: 0.7;
}

button { font-family: inherit; }

/* fonts */
h1, h2, h3, h4 {
  font-weight: 700;
  margin: 0;
  line-height: 1.5;
}

h1 {
  font-size: 2em;
  text-transform: uppercase;
}

h2 {
  font-size: 1.8em;
  text-transform: uppercase;
}

h3 {
  font-size: 1.4em;
}

.leading {
  font-size: 0.9em;
  line-height: 1.7;
}

.leading > span {
  color: var(--brand-yellow);
}

/* ! mobile styles */
/* Creates a uniform margin for every main section */
.container {
  max-width: var(--desktop-maxwidth);
  margin: 0 auto;
  padding: 4em 1.5em;
}

/* Select all h2 in every main section */
.container > h2 {
  margin-bottom: 1.3em;
}

/* General styles for cards */
.container-cards {
  display: flex;
  flex-direction: column;
}

.card {
  padding: 2em 1.3em;
  margin-top: 2em;
  
  font-size: 0.9em;
  color: white;
  text-align: center;
  background-color: black;
  border-radius: 30px;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card .card-icon {
  margin-bottom: 2em;
}

.card > h3 {
  margin-top: 0.5em;
  margin-bottom: 1em;

  color: var(--brand-yellow);
}

.card p {
  line-height: 1.6;
}

.card p:not(:last-child) {
  margin-bottom: 1.5em;
}

/* Styles for cards in the section Diferenciais */
.card.card-diferenciais {
  padding: 3em 2em;
  
  font-weight: 500;
  border-radius: 50px;
}

/* Navbar .site-nav */
.site-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: var(--desktop-maxwidth);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
}

.site-nav .logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}

.site-nav .menu-expanded {
  display: none;
}

/* The side navigation menu */
.sidenav {
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  overflow-x: hidden;
  padding-top: 48px;
  padding-bottom: 16px;
  transition: 300ms;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.sidenav > div {
  padding: 0 16px;
}

/* The navigation menu links */
.sidenav a {
  padding: 14px 0px;
  display: block;
  transition: 300ms;
  color: white;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

.toplevel:hover .submenu-content {
  height: initial;
}

.toplevel:not(:last-child)::after {
  content: '';
  display: block;
  width: 90%;
  height: 1px;
  margin: 0 auto;
  background-color: #a1a1a1;
}

.sidenav .submenu-content {
  height: 0;
  overflow: hidden;
  font-size: 0.8em;
  transition: 300ms;
}

.sidenav .submenu-content a {
  padding: 8px;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 3em;
  margin-left: 50px;
  color: white;
}

/* Section Banner */
#banner {
  padding: 0 20px; /* TODO */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  text-align: center;
  color: white;
  background: url(../assets/mobile/s1_ft1.png) no-repeat center center;
  background-color: var(--dark-gray);
  background-size: cover;
}

#banner .leading-container {
  margin: 5vh 0 15vh 0;
}

/* Section About */
#about .about-content {
  padding: 1.5em;

  background-color: white;
  box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.2);
}

#about .about-content > p {
  font-size: 0.8em;
}

/* Select all but the last p tag */
#about .about-content > p:not(:last-child) {
  margin-bottom: 1.5em;
}

/* Section Services */
.card.servicos { background-image: url(../assets/mobile/s3_ft1.png); }

.card.midia { background-image: url(../assets/mobile/s3_ft2.png); }

.card.implementacoes { background-image: url(../assets/mobile/s3_ft3.png); }

/* Section Diferenciais */
section#diferenciais {
  padding-bottom: 8em;
}

.card.diferencial-1 { background-image: url(../assets/mobile/s4_ft1.png); }

.card.diferencial-2 { background-image: url(../assets/mobile/s4_ft2.png); }

.card.diferencial-3 { background-image: url(../assets/mobile/s4_ft3.png); }

/* Footer */
footer {
  color: white;
  background-color: var(--dark-gray);
  border-top: 1.5em solid var(--brand-yellow);
  border-bottom: 1.5em solid var(--brand-yellow);
}

.container-footer {
  max-width: var(--desktop-maxwidth);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer p.highlight-1 { color: var(--brand-yellow); }

footer p.highlight-2 { color: var(--brand-blue); }

/* Contect section inside the footer */
.footer-content {
  padding: 2em 1.5em;
  line-height: 1.5;
  font-size: 0.8em;
}

.footer-content .logo-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}

.footer-content .contact-info {
  display: flex;
  margin-bottom: 1em;
  flex-wrap: wrap;
  
  color: #c4c4c4;
}

.footer-content .contact-info > * {
  margin-bottom: 1em;
}

.footer-content .contact-info > div {
  display: flex;
  align-items: center;
}

.footer-content .contact-info > div > svg {
  margin-right: 8px;
}

.footer-content .contact-info > div > a {
  color: inherit;
}

/* TODO Icons */
.social-networks > * {
  margin-left: 2em;
}

.icon-social {
  width: 28px;
  height: 28px;
}

.icon-social path {
  fill: white;
}

.icon-footer {
  max-width: 1.2em;
  height: 1.2em;
}

.icon-footer path {
  fill: var(--brand-yellow);
}

.footer-content .contact-info .info-email::after {
  margin: 0 2em;
  content: "|";
}

.footer-content .footer-text {
  font-weight: 600;
  text-align: center;
}

.footer-content .footer-text p:not(:last-child) {
  margin-bottom: 1em;
}

/* Contact form inside the footer */
.contact-form {
  padding: 1em;

  background-color: #818181;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form form > input, .contact-form form > textarea {
  margin-bottom: 1em;
}

.contact-form form .button[type="submit"] {
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  color: white;
  text-align: center;
  font-size: 1.2em;
  padding: 0.8em;
  background-color: var(--brand-blue);

  transition: 
    background 250ms ease-in-out, 
    transform 150ms ease;
}

.button:hover,
.button:focus {
  background-color: #19bcce !important;
}

.button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

.button:active {
  transform: scale(0.99);
}

/* ! small tablet styles */
@media screen and (min-width: 620px) {

}

/* large tablets & laptop styles */
@media screen and (min-width: 960px) {

  body {
    font-size: 18px;
  }
  
}

/* desktop styles */
@media screen and (min-width: 1200px) {

  /* Call to Action buttons */
  .cta-primary {
    font-size: 0.8em;
  }

  body {
    font-size: 18px;
    background: url(../assets/web/bg.png) no-repeat;
    background-position-y: -10vh;
    background-size: cover;
  }

  /* Cards and its container */
  .container-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .card {
    padding: 2.3em 1.4em;
    margin-top: 0;
    width: 320px;
    
    font-size: 0.8em;
  }

  /* Styles for cards in the section Diferenciais */
  .card.card-diferenciais {
    width: 250px;
    padding: 4em 2.5em;
  }
  
  /* Navbar .site-nav */
  .site-nav {
    padding: 20px 0;
  }
  
  .site-nav .menu {
    display: none;
  }

  #menu-sidenav {
    display: none;
  }

  .site-nav .logo {
    position: static;
    left: auto;
    transform: none;
  }

  .site-nav .menu-expanded {
    display: flex;
    justify-content: end;

    font-size: 0.8em;
  }
  
  .menu-expanded li {
    margin-left: 2em;
  }

  .menu-expanded li a {
    text-transform: uppercase;
    color: white;
    font-weight: 600;
  }

  .menu-expanded li a:hover {
    color: var(--brand-blue);
  }

  /* Section Banner */
  #banner h1 {
    font-size: 4em;
    line-height: 1.3;
  }

  #banner .leading-container {
    margin-bottom: 7vh;
  }
  
  #banner .leading-container p {
    width: 50%;
    margin: 0 auto;
  }

  /* Section About */
  #about .about-content {
    width: 75%;
  }

  /* Footer */
  .container-footer {
    flex-direction: row;
    padding: 2.5em 0;
  }

  .footer-content {
    max-width: 350px;
    padding: 0;
  }

  .footer-content .footer-text { text-align: left; }

  .contact-form {
    min-width: 400px;
  }
  
}
