@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

/* variables */
:root {
  --brand-yellow: #efe60b;
  --brand-blue: #1cd4e9;
  --dark-gray: #171515;
}

/* reset */
body, p, a, ul, li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* base styles */
body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

/* Call to Action buttons */
.cta-primary {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 50px;
  
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  background-color: var(--brand-blue);
}

.cta-primary:hover {
  filter: brightness(0.95);
}

/* inputs and textareas */
input, textarea {
  padding: 0.6rem;

  font-family: inherit;
}

/* fonts */

/* mobile styles */

/* small tablet styles */
@media screen and (min-width: 620px) {

}

/* large tablets & laptop styles */
@media screen and (min-width: 960px) {

}

/* desktop styles */
@media screen and (min-width: 1200px) {

}
