@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

/* variables */
:root {
  --brand-yellow: #efe60b;
  --brand-blue: #1cd4e9;
  --dark-gray: #171515;
}

/* reset */
body, p, a, ul, li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* base styles */
body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

/* Call to Action buttons */
.cta-primary {
  display: inline-block;
  padding: 1em 2em;
  border-radius: 50px;
  
  font-size: 0.9em;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  background-color: var(--brand-blue);
}

.cta-primary:hover {
  filter: brightness(0.95);
}

/* inputs and textareas */
input, textarea {
  padding: 0.6em;

  font-family: inherit;
}

/* fonts */
h1, h2, h3, h4 {
  font-weight: 700;
}

h1 {
  font-size: 2em;
  text-transform: uppercase;
}

h2 {
  font-size: 1.6em;
  text-transform: uppercase;
}

h3 {
  font-size: 1.2em;
}

/* mobile styles */

/* small tablet styles */
@media screen and (min-width: 620px) {

}

/* large tablets & laptop styles */
@media screen and (min-width: 960px) {

  body {
    font-size: 18px;
  }
  
}

/* desktop styles */
@media screen and (min-width: 1200px) {

  body {
    font-size: 20px;
  }
  
}
